* {
    box-sizing: border-box;
    color: #33373b; /* Some sort of dark grey, not black*/
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 auto;
    line-height: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1100px;
    background-color: #bac8ff;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

.container-login {
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
    width: 1000px;
    max-width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    width: 400px;
    max-width: 85%;
    margin: 0 auto;
}

form label {
    margin-bottom: 0.25rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input:focus {
    border: none;
    outline: none;
    outline: 1px solid #1971c2;
    box-shadow: 0 1px 10px 0 #1970c277;
}

.btn {
    display: inline-block;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.75rem;
}

.btn:hover,
.btn:active {
    cursor: pointer;
}

.btn-submit {
    background-color: #1971c2;
    color: #fff;
}

.btn-submit:hover {
    background-color: #1970c2c2;
}

.btn-submit:active {
    background-color: #0e61af;
}

.btn-signup:link,
.btn-signup:visited {
    background-color: #282c32;
    color: #fff;
}

.btn-signup:hover {
    background-color: #363b42;
}

.btn-signup:active {
    background-color: #181a1d;
}

.banner-img {
    object-fit: contain;
    height: 45%;
    width: 55%;
    filter: drop-shadow(2px 2px 10px #1970c281);
}

.login-title {
    position: absolute;
    top: 20%;
    right: 50%;
}

.bg-signup {
    background-color: #6f5683;
    color: #282c32;
}
