* {
    box-sizing: border-box;
    color: #33373b; /* Some sort of dark grey, not black*/
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1;
    width: 100vw;
    height: 100vh;
    max-width: 1100px;
    position: relative;
    background-color: #bac8ff !important;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

.container-login {
    height: 100vh;
    background-color: rebeccapurple;
    margin: 0 auto;
    width: 1000px;
    max-width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    width: 500px;
    max-width: 80%;
    /* margin: 0 auto; */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

.btn-submit {
    background-color: #1971c2;
    color: #fff;
}

.btn:hover,
.btn:active {
    cursor: pointer;
}

.banner-img {
    object-fit: contain;
    height: 50%;
    width: 50%;
}
