* {
    box-sizing: border-box;
    color: #444; /* Some sort of dark grey, not black*/
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1;
    width: 1100px;
    position: relative;
    background-color: #bac8ff !important;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.btn {
    border: none;
    background-color: #1971c2;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
}
