* {
    box-sizing: border-box;
    color: #33373b;
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(to bottom, #cee7ff, #1970c25b);
    margin: 0 auto;
    line-height: 1;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1800px;
    overflow-x: hidden;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

.container-lg {
    position: relative;
    margin: 0 auto;
}

.banner-group {
    margin-top: 60px;
    margin-bottom: 200px;
    gap: 10rem;
    position: relative;
    
    display: flex;
    align-items: center;
}

form {
    width: 500px;
}

form label {
    margin-bottom: 0.25rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form input,
form select {
    margin-bottom: 1rem;
}

input:focus {
    border: none;
    outline: none;
    outline: 1px solid #1971c2;
    box-shadow: 0 1px 10px 0 #1970c277;
}

.btn {
    display: inline-block;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.75rem;
}

.btn:hover,
.btn:active {
    cursor: pointer;
}

.btn-submit {
    background-color: #1971c2;
    color: #fff;
    letter-spacing: 0.1rem;
    width: 100%;
}

.btn-submit:hover {
    background-color: #1970c2c2;
}

.btn-submit:active {
    background-color: #0e61af;
}


.banner-img {
    object-fit: contain;
    width: 800px;
    filter: drop-shadow(2px 2px 12px #1970c281);
    border-radius: 4px;
}

.section-title {
    margin-top: 6rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    text-align: center;
}

table,
th,
td {
    border: 1px solid rgb(155, 48, 57);
}

table {
    margin-top: 4rem;
}

th,
td {
    padding: 0.5rem;
    background-color: #aad6ff;
}

th {
    background-color: #346390;
    color: #fff;
}

footer {
    font-weight: 900;
    text-align: center;
    padding: 10px 0 20px;
    margin-top: 100px;
}

@media (max-width: 1800px) {
    body {
        max-width: 1100px;
    }

    form {
        width: 300px;
    }
    
    form input,
    form select {
        margin-bottom: 0.2rem;
    }

    .banner-img {
        width: 550px;
    }

    .banner-group {
        gap: 3rem;
    }
}